.AboutMe__main-container {
  text-align: left;
  display: flex;
  flex-direction: row;

  line-height: 175%;
}

@media screen and (max-width: 1120px) {
  .AboutMe__main-container {
    flex-direction: column;
  }
}

.AboutMe__text {
  flex-basis: 40%;
}

.AboutMe__title-text {
  color: var(--violet);
  border-bottom: 2px solid var(--violet);
  font-size: xx-large;

  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.AboutMe__indented-paragraph {
  margin-top: 4px;
  text-indent: 50px;
  font-size: 100%;
}

.AboutMe__skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  flex-basis: 40%;
  flex-shrink: 2;

  margin: auto;
  align-items: center;

  justify-content: space-evenly;
}

.AboutMe__skills img {
  max-width: 8rem;
  max-height: 8rem;

  margin: 15px;
}

@media screen and (max-width: 1120px) {
  .AboutMe__skills img {
    max-width: 4rem;
    max-height: 4rem;
  }
}
