.Body__main-container {
  display: flex;
  flex-direction: column;

  margin: auto;
  padding: 0 10rem;

  background-color: none;
}

@media screen and (max-width: 1120px) {
  .Body__main-container {
    padding: 0 1rem;
    margin: 5px;
  }
}
